<!-- Intro -->
<section class="site-section site-section-light site-section-top parallax-image" style="background-image: url('/assets/intro-1.jpg');">
    <div class="container">
        <h1 class="text-center animation-slideDown hidden-xs"><strong>Dieta cruda BARF</strong></h1>
        <h2 class="text-center animation-slideUp push hidden-xs">Venta de dieta cruda BARF en Medellín</h2>
        <% if !notice.nil? %>
        <p class="text-center"><%= notice %></p>
        <% end -%>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center push">
            <%= image_tag "logo-barffit.png", :alt => "Promo #1", :class => "img-responsive center-block animation-fadeIn", :width => '340px' %>
        </div>
    </div>
    <div class="site-block text-center">
        <a data-toggle="modal" data-target="#filosofia" href="javascript:void(0)" class="btn btn-lg btn-transparent"><i class="fa fa-paw"></i> Leer más</a>
    </div>
</section>
<!-- END Intro -->
