<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<%= form_for([:admin,@product,@track], {remote: true, multipart: true}) do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="modal-title">Información del track</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-danger" style="display: none" id="record-errors"></div>
			<table class="table">
				<tr>
					<td><%= f.label :track_type, "Tipo" -%></td>
					<td><%= f.select :track_type, options_for_select(Track.track_types.map { |e| [e[0]] },@track.track_type),{include_blank: 'Selecciona un tipo'}, {required: true, class: 'form-control'} -%></td>
          <td><%= f.label :video_url, "URL Video" -%></td>
          <td><%= f.text_field :video_url, required: true, class: 'form-control' -%></td>
				</tr>
        <tr>
					<td><%= f.label :file, "Archivo MP3/MP4 #{'- Sobreescribir?' if @track.file.present?}" -%></td>
					<td><%= f.file_field :file -%></td>
          <td></td>
          <td></td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
		</div>
		<% end -%>
	</div>
</div>
