<div class="content-header">
	<div class="header-section">
		<h1>
			<i class="fa fa-music"></i><b>Producto <%= @product.name -%></b><br><small>Visualice los detalles del producto</small>
		</h1>
    <a href="javascript:void(0)" onclick="load_new_track_form()" class="btn btn-primary">Crear Track</a>

		<% if flash[:notice] -%>
			<div class="alert alert-success"><%= flash[:notice] -%></div>
		<% end -%>
	</div>
</div>
<ul class="breadcrumb breadcrumb-top">
	<li><a href="/admin">Inicio</a></li>
	<li><a href="<%= admin_products_path -%>">Productos</a></li>
	<li><a href="<%= admin_product_path(@product) -%>">Producto <%= @product.name -%></a></li>
  <li><a href="<%= admin_product_tracks_path(@product) -%>">Tracks</a></li>
</ul>

<div class="block full block-alt-noborder">
	<ul class="nav nav-tabs">
    <li class="<%= 'active' if action_name == 'show' and controller_name == 'products' -%>"><a href="<%= admin_product_path(@product) -%>">Detalles</a></li>
		<li class="<%= 'active' if action_name == 'index' and controller_name == 'tracks' -%>"><a href="<%= admin_product_tracks_path(@product) -%>">Tracks</a></li>
	</ul>
	<div class="tab-content">
		<br>
		<div class="row">
      <div class="col-md-12">
        <table class="table data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tipo</th>
              <th>Duración</th>
              <th>URL Track</th>
              <th>URL Video</th>
              <th class="text-right">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @product.tracks.each do |track| %>
            <tr>
              <td><%= track.id %></td>
              <td><%= track.track_type %></td>
              <td><%= track.duration %></td>
              <td><%= link_to track.file_file_name, track.file.url, target: '_blank' if track.file.present? %></td>
              <td><%= link_to track.video_url, track.video_url, target: '_blank' if track.video_url.present? %></td>
              <td class="text-right">
                <div class="btn-group">
    							<a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle" aria-expanded="false">Acciones <span class="caret"></span></a>
    							<ul class="dropdown-menu text-left">
                    <li><%= link_to "Editar", '#', onclick: "load_modal(#{track.id},'edit_track')" %></li>
                    <li><%= link_to "Eliminar", admin_product_track_path(@product,track), data:{remote: true, method: :delete, confirm: 'Está seguro que desea eliminar este track?'} %></li>
                  </ul>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
		</div>
	</div>
</div>


<div id="row-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

</div>

<% content_for :footer_scripts do  -%>

	<script type="text/javascript">

    function load_new_track_form(){
			$.get("<%= new_admin_product_track_path(@product) -%>", function(view){
				$("#row-modal").html(view)
				$("#row-modal").modal('show')
			})
		}

    function load_edit_product_form(){
      $.get("<%= edit_admin_product_path(@product) -%>", function(view){
				$("#row-modal").html(view)
				$("#row-modal").modal('show')
			})
    }

    function load_modal(record_id,action){
      url = ""
      switch (action) {
				case 'edit_track':
					url = "<%= edit_admin_product_track_path(@product,1) %>"
					break;
        default:
          alert('unknown action ' + action)
      }
			$.get(url.replace(/\/1\b(?!.*?\/1\b)/, '/'+ record_id), {id: record_id}, function(view){
				$("#row-modal").html(view)
				$("#row-modal").modal('show')
			})
		}

	</script>
<% end -%>
