<div class="content-header content-header-media">
  <div class="header-section">
    <div class="row">
      <!-- Main Title (hidden on small devices for the statistics to fit) -->
      <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1>Bienvenido <strong><%= current_user.first_name %></strong><br><small>Sistema de administración de Tracks!</small></h1>
      </div>
      <!-- END Main Title -->

      <!-- Top Stats -->
      <div class="col-md-8 col-lg-6">
        <div class="row text-center">
          <div class="col-xs-4 col-sm-4">
            <h2 class="animation-hatch">
              <strong><%= User.where(role: User.roles[:user]).count %></strong><br>
              <small><i class="fa fa-user"></i> Instructores</small>
            </h2>
          </div>
          <div class="col-xs-4 col-sm-4">
            <h2 class="animation-hatch">
              <strong><%= Product.where(status: Product.statuses[:active]).count %></strong><br>
              <small><i class="fa fa-music"></i> Productos</small>
            </h2>
          </div>
          <div class="col-xs-4 col-sm-4">
            <h2 class="animation-hatch">
              <strong><%= UserProduct.where(status: UserProduct.statuses[:active]).count %></strong><br>
              <small><i class="fa fa-usd"></i> Suscripciones</small>
            </h2>
          </div>
        </div>
      </div>
      <!-- END Top Stats -->
    </div>
  </div>
  <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
  <img src="img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
</div>
