<% if @success %>
	location.reload()
<% else %>
	$("#record-errors").show()
	$("#record-errors").text("<%= @errors %>")
	alert("There was an error with your request, please review the errors")
<% end %>