<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<%= form_for([:admin,@product], remote: true, multipart: true) do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="modal-title">Información del producto</h3>
		</div>
		<div class="modal-body">

				<div class="alert alert-danger" style="display: none" id="record-errors"></div>

				<table class="table">
					<tr>
						<td><%= f.label :name, "Nombre" -%></td>
						<td><%= f.text_field :name, required: true, class: 'form-control', placeholder: 'Ingrese el nombre del producto' -%></td>
						<td><%= f.label :status, "Estado" -%></td>
						<td><%= f.select :status, options_for_select(Product.statuses.map { |e| [e[0]] },@product.status),{include_blank: 'Selecciona un estado'}, {required: true, class: 'form-control'} -%></td>
					</tr>
          <tr>
  					<td><%= f.label :guide, "Archivo de esquemas PDF #{'- Sobreescribir?' if @product.guide.present?}" -%></td>
  					<td><%= f.file_field :guide -%></td>
  				</tr>
				</table>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
		</div>
		<% end -%>
	</div>
</div>
