<div class="content-header">
	<div class="header-section">
		<h1>
			<i class="gi gi-building"></i>Productos<br><small>Acceda al listado de productos</small>
		</h1>
		<% if flash[:notice] -%>
		<div class="alert alert-success"><%= flash[:notice] -%></div>
		<% end -%>
		<button type="button" class="btn btn-success" onclick="load_entity_form()">Crear nuevo producto</button>
	</div>
</div>
<ul class="breadcrumb breadcrumb-top">
	<li><a href="/admin">Inicio</a></li>
	<li><a href="<%= admin_products_path -%>">Productos</a></li>
</ul>
<div class="block full block-alt-noborder table-responsive">
	<table class="table data-table">
		<thead>
			<tr>
        <th>ID</th>
				<th>Producto</th>
				<th>Fecha de creación</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| -%>
			<tr>
        <td><%= product.id %></td>
				<td><%= product.name %></td>
        <td><%= product.created_at %></td>
        <td><%= product.status.capitalize %></td>
				<td>
          <%= link_to "Ingresar", admin_product_path(product), class: 'btn btn-xs btn-primary' %>
				</td>
			</tr>
			<% end -%>
		</tbody>
	</table>
</div>


<% content_for :footer_scripts do  -%>

<script type="text/javascript">

	function load_entity_form(){
		$.get("<%= new_admin_product_path -%>", function(view){
			$("#row-modal").html(view)
			$("#row-modal").modal('show')
		})
	}

</script>
<% end -%>


<div id="row-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

</div>
