<div class="content-header">
	<div class="header-section">
		<h1>
			<i class="fa fa-music"></i><b>Producto <%= @product.name -%></b><br><small>Visualice los detalles del producto</small>
		</h1>
		<a href="javascript:void(0)" onclick="load_edit_product_form()" class="btn btn-primary">Editar</a>

		<% if flash[:notice] -%>
			<div class="alert alert-success"><%= flash[:notice] -%></div>
		<% end -%>
	</div>
</div>
<ul class="breadcrumb breadcrumb-top">
	<li><a href="/admin">Inicio</a></li>
	<li><a href="<%= admin_products_path -%>">Productos</a></li>
	<li><a href="<%= admin_product_path(@product) -%>">Producto <%= @product.name -%></a></li>
</ul>

<div class="block full block-alt-noborder">
	<ul class="nav nav-tabs">
    <li class="<%= 'active' if action_name == 'show' and controller_name == 'products' -%>"><a href="<%= admin_product_path(@product) -%>">Detalles</a></li>
		<li class="<%= 'active' if action_name == 'index' and controller_name == 'tracks' -%>"><a href="<%= admin_product_tracks_path(@product) -%>">Tracks</a></li>
	</ul>
	<div class="tab-content">
		<br>
		<div class="row">
      <div class="col-md-12">
        <table class="table">
          <tr>
            <td width="200px"><b>Nombre del producto:</b></td>
            <td><%= @product.name %></td>
          </tr>
          <tr>
            <td width="200px"><b>Archivo de esquemas:</b></td>
            <td><%= link_to @product.guide_file_name, @product.guide.url, target: '_blank' if @product.guide.present? %></td>
          </tr>
          <tr>
            <td width="200px"><b>Estado:</b></td>
            <td><%= @product.status %></td>
          </tr>
          <tr>
            <td width="200px"><b>Fecha de creación:</b></td>
            <td><%= @product.created_at %></td>
          </tr>
        </table>
      </div>
		</div>
	</div>
</div>


<div id="row-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

</div>

<% content_for :footer_scripts do  -%>

	<script type="text/javascript">

    function load_new_track_form(){
			$.get("<%= new_admin_product_track_path(@product) -%>", function(view){
				$("#row-modal").html(view)
				$("#row-modal").modal('show')
			})
		}

    function load_edit_product_form(){
      $.get("<%= edit_admin_product_path(@product) -%>", function(view){
				$("#row-modal").html(view)
				$("#row-modal").modal('show')
			})
    }

	</script>
<% end -%>
