/*

 *= require bootstrap.min.css
 *= require frontend/plugins.css
 *= require frontend/main.css
 *= require frontend/themes.css
 *= require frontend/sweetalert.css

 */

#playstore-logo {
    height: auto;
    width: 240px;
}

Iframe {
    width: 100%;
}

.footer-app{
    margin-left: -15px;
}
