<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<%= form_for(:user_product, url: admin_user_assign_product_path(@user), remote: true, multipart: true) do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="modal-title">Asignar producto a usuario</h3>
		</div>
		<div class="modal-body">
				<div class="alert alert-danger" style="display: none" id="record-errors"></div>
				<table class="table">
					<tr>
						<td><%= f.label :product_id, "Estado" -%></td>
						<td><%= f.select :product_id, options_for_select(@products.map { |e| [e.name,e.id] }),{include_blank: 'Selecciona un producto de la lista'}, {required: true, class: 'form-control'} -%></td>
					</tr>
				</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
		</div>
		<% end -%>
	</div>
</div>
