<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<%= form_for([:admin,@user], remote: true, multipart: true) do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="modal-title">Información del usuario</h3>
		</div>
		<div class="modal-body">

				<div class="alert alert-danger" style="display: none" id="record-errors"></div>

				<table class="table">
					<tr>
						<td><%= f.label :first_name, "Nombres" -%></td>
						<td><%= f.text_field :first_name, required: true, class: 'form-control', placeholder: 'Pedro' -%></td>
            <td><%= f.label :last_name, "Apellidos" -%></td>
						<td><%= f.text_field :last_name, required: true, class: 'form-control', placeholder: 'Perez' -%></td>
					</tr>
          <tr>
            <td><%= f.label :role, "Rol" -%></td>
						<td><%= f.select :role, options_for_select(User.roles.map { |e| [e[0]] },@user.role),{include_blank: 'Selecciona un rol'}, {required: true, class: 'form-control'} -%></td>
            <td><%= f.label :email, "Email" -%></td>
						<td><%= f.text_field :email, required: true, class: 'form-control', placeholder: 'pedro@perez.com' -%></td>
  				</tr>
				</table>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
		</div>
		<% end -%>
	</div>
</div>
