<div class="content-header">
	<div class="header-section">
		<h1>
			<i class="gi gi-building"></i>Usuarios<br><small>Acceda al listado de usuarios</small>
		</h1>
		<% if flash[:notice] -%>
		<div class="alert alert-success"><%= flash[:notice] -%></div>
		<% end -%>
		<button type="button" class="btn btn-success" onclick="load_entity_form()">Crear nuevo usuario</button>
	</div>
</div>
<ul class="breadcrumb breadcrumb-top">
	<li><a href="/admin">Inicio</a></li>
	<li><a href="<%= admin_users_path -%>">Usuarios</a></li>
</ul>
<div class="block full block-alt-noborder table-responsive">
	<table class="table data-table">
		<thead>
			<tr>
        <th>ID</th>
				<th>Nombre</th>
				<th>Rol</th>
        <th>Email</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| -%>
			<tr>
        <td><%= user.id %></td>
				<td><%= user.full_name %></td>
        <td><%= user.role %></td>
        <td><%= user.email %></td>
				<td>
          <%= link_to "Ingresar", admin_user_path(user), class: 'btn btn-xs btn-primary' %>
				</td>
			</tr>
			<% end -%>
		</tbody>
	</table>
</div>


<% content_for :footer_scripts do  -%>

<script type="text/javascript">

	function load_entity_form(){
		$.get("<%= new_admin_user_path -%>", function(view){
			$("#row-modal").html(view)
			$("#row-modal").modal('show')
		})
	}

</script>
<% end -%>


<div id="row-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

</div>
