<div class="content-header">
	<div class="header-section">
		<h1>
			<i class="fa fa-music"></i><b>Usuario <%= @user.full_name -%></b><br><small>Visualice las suscripciones de este usuario</small>
		</h1>
    <a href="javascript:void(0)" onclick="load_all_products_form()" class="btn btn-primary">Asignar Producto</a>

		<% if flash[:notice] -%>
			<div class="alert alert-success"><%= flash[:notice] -%></div>
		<% end -%>
	</div>
</div>
<ul class="breadcrumb breadcrumb-top">
	<li><a href="/admin">Inicio</a></li>
	<li><a href="<%= admin_users_path -%>">Usuarios</a></li>
	<li><a href="<%= admin_user_path(@user) -%>">Usuario <%= @user.full_name -%></a></li>
  <li><a href="<%= admin_user_products_path(@user) -%>">Productos</a></li>
</ul>

<div class="block full block-alt-noborder">
	<ul class="nav nav-tabs">
    <li class="<%= 'active' if action_name == 'show' -%>"><a href="<%= admin_user_path(@user) -%>">Detalles</a></li>
		<li class="<%= 'active' if action_name == 'products' -%>"><a href="<%= admin_user_products_path(@user) -%>">Suscripción de Productos</a></li>
	</ul>
	<div class="tab-content">
		<br>
		<div class="row">
      <div class="col-md-12">
        <table class="table data-table">
          <thead>
            <tr>
              <th width="200px">Producto</th>
              <th>Fecha de registro</th>
              <th class="text-right">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @user.user_products.each do |up| %>
            <tr>
              <td>Producto <%= up.product.name %></td>
              <td><%= up.created_at %></td>
              <td class="text-right">
                <%= link_to "Eliminar", admin_user_remove_product_path(@user,product_id: up.product_id), data:{remote: true, method: :delete, confirm: 'Está seguro que desea eliminar este producto de este usuario?'}, class: 'btn btn-primary btn-xs' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
		</div>
	</div>
</div>


<div id="row-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

</div>

<% content_for :footer_scripts do  -%>

	<script type="text/javascript">

    function load_all_products_form(){
			$.get("<%= admin_user_all_products_path(@user) -%>", function(view){
				$("#row-modal").html(view)
				$("#row-modal").modal('show')
			})
		}

	</script>
<% end -%>
