<div class="content-header">
	<div class="header-section">
		<h1>
			<i class="fa fa-music"></i><b>Usuario <%= @user.full_name -%></b><br><small>Visualice los detalles del usuario</small>
		</h1>
		<a href="javascript:void(0)" onclick="load_edit_user_form()" class="btn btn-primary">Editar</a>

		<% if flash[:notice] -%>
			<div class="alert alert-success"><%= flash[:notice] -%></div>
		<% end -%>
	</div>
</div>
<ul class="breadcrumb breadcrumb-top">
	<li><a href="/admin">Inicio</a></li>
	<li><a href="<%= admin_users_path -%>">Usuarios</a></li>
	<li><a href="<%= admin_user_path(@user) -%>">Usuario <%= @user.full_name -%></a></li>
</ul>

<div class="block full block-alt-noborder">
	<ul class="nav nav-tabs">
    <li class="<%= 'active' if action_name == 'show' -%>"><a href="<%= admin_user_path(@user) -%>">Detalles</a></li>
		<li class="<%= 'active' if action_name == 'products' -%>"><a href="<%= admin_user_products_path(@user) -%>">Suscripción de Productos</a></li>
	</ul>
	<div class="tab-content">
		<br>
		<div class="row">
      <div class="col-md-12">
        <table class="table">
          <tr>
            <td width="200px"><b>Nombre:</b></td>
            <td><%= @user.full_name %></td>
          </tr>
          <tr>
            <td width="200px"><b>Email:</b></td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td width="200px"><b>Rol:</b></td>
            <td><%= @user.role %></td>
          </tr>
          <tr>
            <td width="200px"><b>Estado:</b></td>
            <td><%= @user.status %></td>
          </tr>
          <tr>
            <td width="200px"><b>Fecha de creación:</b></td>
            <td><%= @user.created_at %></td>
          </tr>
        </table>
      </div>
		</div>
	</div>
</div>


<div id="row-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

</div>

<% content_for :footer_scripts do  -%>

	<script type="text/javascript">

    function load_edit_user_form(){
      $.get("<%= edit_admin_user_path(@user) -%>", function(view){
				$("#row-modal").html(view)
				$("#row-modal").modal('show')
			})
    }

	</script>
<% end -%>
