<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>TrackManager</title>

  <meta name="description" content="">
  <meta name="author" content="Entropia">
  <meta name="robots" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

  <%= stylesheet_link_tag    "backend/application", :media => "all" %>
  <%= javascript_include_tag "backend/application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- Page Wrapper -->
  <div id="page-wrapper" class="page-loading">
    <!-- Preloader -->
    <div class="preloader themed-background">
      <h1 class="push-top-bottom text-light text-center"><%= image_tag "logo.png" %></h1>
      <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
      <div class="inner">
        <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Cargando...</strong></h3>

      </div>
    </div>
    <!-- END Preloader -->

    <!-- Page Container -->
    <div id="page-container" class=" sidebar-visible-lg enable-cookies ">
      <!-- Alternative Sidebar -->
      <div id="sidebar-alt">
        <!-- Wrapper for scrolling functionality -->
        <div id="sidebar-alt-scroll">
          <!-- Sidebar Content -->
          <div class="sidebar-content">

            <!-- Activity -->
            <a href="javascript:void(0)" class="sidebar-title">
              <i class="fa fa-globe pull-right"></i> <strong>Notificaciones</strong>
            </a>
            <div class="sidebar-section">

            </div>
            <!-- END Activity -->

          </div>
          <!-- END Sidebar Content -->
        </div>
        <!-- END Wrapper for scrolling functionality -->
      </div>
      <!-- END Alternative Sidebar -->

      <!-- Main Sidebar -->
      <div id="sidebar">
        <!-- Wrapper for scrolling functionality -->
        <div id="sidebar-scroll">
          <!-- Sidebar Content -->
          <div class="sidebar-content">
            <!-- Brand -->
            <a href="/" class="sidebar-brand">
              <span class="sidebar-nav-mini-hide">Track Manager</span>
            </a>
            <!-- END Brand -->

            <!-- User Info -->
            <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
              <div class="sidebar-user-avatar">
                <a href="<%= root_path %>">
                  <%= image_tag "missing_user.jpg", :alt => "avatar" %>
                </a>
              </div>
              <div class="sidebar-user-name">Bienvenido</div>
              <div class="sidebar-user-links">
                <a href="<%= '/' %>" data-toggle="tooltip" data-placement="bottom" title="Perfil"><i class="gi gi-user"></i></a>
                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                <a href="javascript:void(0)" class="enable-tooltip" data-placement="bottom" title="Configuración" onclick="$('#modal-user-settings').modal('show');"><i class="gi gi-cogwheel"></i></a>
                <a href="<%= destroy_user_session_path %>" data-method="delete" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión"><i class="gi gi-exit"></i></a>
              </div>
            </div>
            <!-- END User Info -->

            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
              <li class="<%= 'active' if controller_name == "home" %>">
                <a href="<%= admin_path %>"><i class="gi gi-home sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Inicio</span></a>
              </li>
              <li class="<%= 'active' if controller_name == 'products' or controller_name == 'tracks' %>">
                <a href="<%= admin_products_path %>"><i class="fa fa-music sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Productos</span></a>
              </li>
              <li class="<%= 'active' if controller_name == 'users' %>">
                <a href="<%= admin_users_path  %>"><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Usuarios</span></a>
              </li>
            </ul>
            <!-- END Sidebar Navigation -->

          </div>
          <!-- END Sidebar Content -->
        </div>
        <!-- END Wrapper for scrolling functionality -->
      </div>
      <!-- END Main Sidebar -->

      <!-- Main Container -->
      <div id="main-container">
        <!-- Header -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!--
        Available header.navbar classes:

        'navbar-default'            for the default light header
        'navbar-inverse'            for an alternative dark header

        'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
        'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

        'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
        'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
      -->
      <header class="navbar navbar-default">
        <!-- Left Header Navigation -->
        <ul class="nav navbar-nav-custom">
          <!-- Main Sidebar Toggle Button -->
          <li>
            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
              <i class="fa fa-bars fa-fw"></i>
            </a>
          </li>
          <!-- END Main Sidebar Toggle Button -->
        </ul>
        <!-- END Left Header Navigation -->

        <!-- Right Header Navigation -->
        <ul class="nav navbar-nav-custom pull-right">
          <!-- Alternative Sidebar Toggle Button -->
          <li>
            <!-- If you do not want the main sidebar to open when the alternative sidebar is closed, just remove the second parameter: App.sidebar('toggle-sidebar-alt'); -->
            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');this.blur();">
              <i class="gi gi-bell"></i>
              <span class="label label-primary label-indicator animation-floating"></span>
            </a>
          </li>
          <!-- END Alternative Sidebar Toggle Button -->

          <!-- User Dropdown -->
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag 'missing_user.jpg', :alt => "avatar" %> <i class="fa fa-angle-down"></i>

            </a>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
              <li>
                <a href="<%=  %>">
                  <i class="gi gi-user pull-right"></i>
                  Perfil
                </a>
                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                <a href="#modal-user-settings" data-toggle="modal">
                  <i class="gi gi-cogwheel pull-right"></i>
                  Configuración
                </a>
              </li>
              <li>
                <a href="<%= destroy_user_session_path %>" data-method="delete"><i class="gi gi-exit pull-right"></i> Cerrar sesión</a>
              </li>
            </ul>
          </li>
          <!-- END User Dropdown -->
        </ul>
        <!-- END Right Header Navigation -->
      </header>
      <!-- END Header -->

      <!-- Page content -->
      <div id="page-content">

        <%= yield %>

      </div>
      <!-- END Page Content -->

      <!-- Footer -->
      <footer class="clearfix">
        <div class="pull-right">
          Desarrollado con <i class="fa fa-heart"></i> por <a href="http://entropia.co" target="_blank">Entropía</a>
        </div>
      </footer>
      <!-- END Footer -->
    </div>
    <!-- END Main Container -->
  </div>
  <!-- END Page Container -->
</div>
<!-- END Page Wrapper -->

<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

<%= yield :footer_scripts %>

</body>
</html>
