<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>TrackManager</title>

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

  <%= stylesheet_link_tag    "frontend/application", :media => "all" %>
  <%= javascript_include_tag "frontend/application" %>
  <%= csrf_meta_tags %>

</head>

<body>

  <div id="page-container">
    <!-- Site Header -->
    <header>
      <div class="container">
        <!-- Site Logo -->
        <a href="/" class="site-logo" style="margin-top: -20px;">
          <%= image_tag "logo.png", :width => '75px' %>
        </a>
        <!-- Site Logo -->

        <!-- Site Navigation -->
        <nav>
          <!-- Menu Toggle -->
          <!-- Toggles menu on small screens -->
          <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">
            <i class="fa fa-bars"></i>
          </a>
          <!-- END Menu Toggle -->

          <!-- Main Menu -->
          <ul class="site-nav">
            <!-- Toggles menu on small screens -->
            <li class="visible-xs visible-sm">
              <a href="javascript:void(0)" class="site-menu-toggle text-center">
                <i class="fa fa-times"></i>
              </a>
            </li>
            <!-- END Menu Toggle -->
            <li <%= "class=active" if action_name == "about" %>>
              <a href="<%= root_path %>">Inicio</a>
            </li>
            <li>
              <a href="<%= admin_path %>">Ingresar</a>
            </li>
          </ul>
          <!-- END Main Menu -->
        </nav>
        <!-- END Site Navigation -->
      </div>
    </header>
    <!-- END Site Header -->

    <%= yield %>

    <!-- Footer -->
    <footer class="site-footer site-section">
      <div class="container">
        <!-- Footer Links -->
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <h4 class="footer-heading">Acerca de nosotros</h4>
            <p>
              Somos una empresa dedicada a fabricar y comercializar productos y servicios para la salud de los animales.
              A través de la dieta BARF, queremos brindar las mejores opciones para la vida saludable de perros y gatos.
            </p>
            <ul class="footer-nav list-inline">
              <li><a href="/nosotros">Compañía</a></li>
              <li><a href="/contacto">Contacto</a></li>
              <li><a href="/politica-privacidad">Política de privacidad</a></li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-4">
            <h4 class="footer-heading">Encuéntranos también en</h4>
            <ul class="footer-nav footer-nav-social list-inline">
              <li><a href="http://fb.com/Barffitmedellin" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/barffit.med/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="/contacto"><i class="fa fa-envelope"></i></a></li>
              <!-- <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li> -->
            </ul>
            <div class="fb-page" data-href="https://www.facebook.com/Barffitmedellin/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Barffitmedellin/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Barffitmedellin/">BarfFit</a></blockquote></div>
          </div>
          <div class="col-sm-6 col-md-4">
            <h4 class="footer-heading"><span id="year-copy">2016</span> &copy; <a href="http://barffit.co">BarfFit en Medellín</a></h4>
            <ul class="footer-nav list-inline">
              <li>Diseñado con <i class="fa fa-heart text-danger"></i> por <a target="_blank" href="http://entropia.co">Entropia.co</a></li>
            </ul>
            <p>
              Google Play y el logotipo de Google Play son marcas comerciales de Google Inc.
            </p>
            <p>
              <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=FfDjJcVcIBaI72kk1GY2E7YqrpPsHKt5zlQA55CeLlHvdRU7hCr9XTo0rs4H"></script></span>
            </p>
            <p>
              <a target="_blank" class="footer-app" href='https://play.google.com/store/apps/details?id=com.entropia.barffit&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img id="playstore-logo" alt='Disponible en Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/es-419_badge_web_generic.png'/></a>
            </p>
          </div>
        </div>
        <!-- END Footer Links -->
      </div>

    </footer>
    <!-- END Footer -->
  </div>
  <!-- END Page Container -->

  <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>
</body>
</html>
