<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>ProUI - Responsive Bootstrap Admin Template</title>

  <%= stylesheet_link_tag    "backend/application", :media => "all" %>
  <%= javascript_include_tag "backend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Login Background -->
  <div id="login-background">
    <!-- For best results use an image with a resolution of 2560x400 pixels (prefer a blurred image for smaller file size) -->
    <%= image_tag "login_header", class: 'animation-pulseSlow' %>
  </div>
  <!-- END Login Background -->

  <!-- Login Container -->
  <div id="login-container" class="animation-fadeIn">
    <!-- Login Title -->
    <div class="login-title text-center">
      <h1><i class="gi gi-flash"></i> <strong>ProUI</strong><br><small>Please <strong>Login</strong> or <strong>Register</strong></small></h1>
    </div>
    <!-- END Login Title -->

    <!-- Login Block -->
    <div class="block push-bit">
      <!-- Login Form -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal form-bordered form-control-borderless'}) do |f| %>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
              <%= f.email_field :email, class:'form-control input-lg', placeholder: 'Email' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
              <%= f.password_field :password, class:'form-control input-lg', placeholder: 'Password' %>
            </div>
          </div>
        </div>
        <div class="form-group form-actions">
          <div class="col-xs-8 text-right">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Login to Dashboard</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <a href="javascript:void(0)" id="link-reminder-login"><small>Olvidó su contraseña?</small></a>
          </div>
        </div>
      <% end %>
      <!-- END Login Form -->

      <!-- Reminder Form -->
      <form action="login.html#reminder" method="post" id="form-reminder" class="form-horizontal form-bordered form-control-borderless display-none">
        <div class="form-group">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
              <input type="text" id="reminder-email" name="reminder-email" class="form-control input-lg" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="form-group form-actions">
          <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Reset Password</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <small>Did you remember your password?</small> <a href="javascript:void(0)" id="link-reminder"><small>Login</small></a>
          </div>
        </div>
      </form>
      <!-- END Reminder Form -->

    </div>
    <!-- END Login Block -->

    <!-- Footer -->
    <footer class="text-muted text-center">
      <small><span id="year-copy"></span> &copy; <a href="https://1.envato.market/x4R" target="_blank">ProUI 3.8</a></small>
    </footer>
    <!-- END Footer -->
  </div>
  <!-- END Login Container -->

</body>
</html>
